In [1]:
from tools import *
import pandas as pd
import numpy as np

In [15]:
compare_scores()

Set            Test      Train
Month
January   -6.326581 -12.277109
February        NaN -10.680107
March           NaN -12.007930
April           NaN -10.426505
May             NaN  -7.658699
June            NaN  -6.648209
July            NaN  -6.498501
August          NaN  -5.665337
September       NaN -13.849467
October         NaN -10.944401
November        NaN -11.011253
December        NaN  -8.967742